@font-face {
    font-family: "japan";
    src: url(/cms/public/css/Japonesa.ttf) format("truetype");
}
body{
    
}
.activo{
    color:green;
}

.inactivo{
    color:crimson;
}

.editar{
     text-align: center;
     margin: auto;
     width: 50%;
    
    
}
.caja_acceso{
    border: 1px solid #777;
    padding: 1em;
    text-align: center;
    margin-top: 20%;
    background-color: #FFF;
    
}

.caja_acceso input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2em;
}

.caja_acceso input[type="text"],
.caja_acceso input[type="password"]{
    width: 90%;
    border: 1px solid #333;
    margin: 0.5em 0;
}

.caja_acceso input[type="submit"]{
    width: 90%;
    border: 1px solid #17F;
    margin: 0.5em 0;
    background-color: #17F;
    color: #FFF;
    cursor: pointer;
}

.caja_acceso input[type="submit"]:hover{
    background-color: #00F;
    border: 1px solid #00F;
}

footer{
    margin: 1em 1% 0 1%;
    padding: 0.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc;
    width: 98%;
    background-color: #1c69db;
}

.rojo{
    color: #F00;
}

.menu{
    text-align: center;
    margin-top: 1%;
    border-bottom: 1px solid #000;
    font-size: 2em;
    
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline;
    padding: 0 0.5em;
}

a:hover{
    text-decoration: none;
}

.menu li:hover{
    background-color: rgba(0,123,255,0.1);
}

.content_section{
    margin-top: 3em;
}

.listado h2{
    margin: 1em 0;
    font-size: 3em;
}

.listado ul{
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 0.5em;
    margin: 0;
}



.listado .titulo{
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 0 0.5em;
}

.listado .item:hover{
    background-color: rgba(0,123,255,0.1);
}


.listado li{
    display: inline-block;
    padding: 0;
    
}

.derecha{
    text-align: right;
}

.alert{
    position:absolute;
    width: 80%;
}

.activo:hover{
    color:crimson;
}

.inactivo:hover{
    color:green;
}


body {
    color: #1c69db;
}
.infom {
    color: #1c69db;
}

.infom h1 {
    text-align: center;
    margin: auto;
}



.editar {
    border:2px solid #1c69db;
    width: 20%;
    height: 40%;
    background-color: white;
    margin-top: 20%;
    width:50%;
}

.borde2 {
    border-radius: 15px;
    width: 20% ;
    margin: 2%;
    border:2px solid #1c69db;    
    text-align: center;
    display: inline-block;
    height: 420px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.borde2:hover {
    width: 20% ;
    margin: 2%;
    border:2px solid #1c69db;    
    text-align: center;
    display: inline-block;
    height: 420px;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    transition-duration: 4s;
    transition-delay: 0.5s;
    
    
}


.tit {
    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    margin-bottom: 10px;
    width: 100%;
    
    
}
.tit2 {
    width: 100%;
    padding-bottom: 4px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(0,0,0,.8));
    border-radius: 13px 13px 0px 0px ;
    
}
    .men {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #1c69db;
        
    }
    .letra {
        float: left;
        font-family: "japan";
        
    }


    .men li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        background-color: #1c69db;
        height: 75px;
    font-size:30px;
    }

    .men li a:hover {
        background-color: #111;
        text-decoration: none;
        list-style-type: none;
    }
    
    .borde {
        
        width: 90%;
        margin-left: 5%;
        margin-right: 2%;
        padding-left: 4%;
        padding-right: 2%;
        
        
    }
    .gundam {
            width: 5%;
            float: left;
        
    }
    footer a {
        color: white;
    }
     .editar1{
         text-align: center;
         margin: auto;
         width: 40%;
    }
    .tam {
            width: 90%;
            height: 150px;
            columns: 7;
    }
    
    @media only screen and (max-width:768px){

.gundam {
        width: 7%;
        float: left;

}        

  }

/*----------------------------*/
/* MAIN DIV */
/*----------------------------*/

#wrapper-container{
    float:left;
    width:100%;
    height:auto;
}

.container,.container-footer {
    position:relative;
    width: 1200px;
    margin-left:-600px;
    left:50%;
}

/*----------------------------*/
/* MAIN DIV WITH IMAGE */
/*----------------------------*/

#main-container-image {
    float:left;
    width:100%;
    height:auto;
    background-color:#F4F4F4;
    margin-top:25px;
}
.iz {
    text-align: left;
}

.work div {
    float:left;
    width:calc(100% / 4 - 30px);
    height:auto;
    line-height:auto;
    position: relative;
    padding: 0 !important;
    margin: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
    background-color:#FFF;
}

.work div.white dl{
    background: #FFF;
}


.work div a img {
    height: 90%;
    width: 90%;
    margin-left:5%;
    margin-top:5%;
}




#wrapper-part-info{
    position:relative;
    width:100%;
    height:44px;
    background-color:#FFFFFF;
}

#part-info{
    float:left;
    width:calc(100% - 53px);
    text-align:left;
    line-height:44px;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    font-weight:400;
    color:#666;
    margin-left:10px;
    height:44px;
}

.part-info-image{
    float:left;
    margin-left:15px;
    margin-top:8px;
}

.part-info-image img{width:100%;height:100%;}

@media only screen and (max-width: 2000px) {
#main-container-menu {
    display:none;
}
}

/* Others wide screen */
 
@media only screen and (max-width: 1200px) {
#main-header,.navbar,.container,.container-footer,.thank,.oldnew,.copyright {
    width:940px;
    margin-left:-465px;
}
#main-container-menu {
    display:none;
}

.work div {
    width:calc(100% / 3 - 30px);
}
}

/* Small viewports — Old monitors, netbooks, tablets (landscape), etc. */
 
@media only screen and (max-width: 965px) {
#main-header,.navbar,.container,.container-footer,.thank,.oldnew,.copyright {
    width:835px;
    margin-left:-417.5px;
}
#main-container-menu {
    display:none;
}
#row-1f,#row-2f,#row-3f,#row-4f{
    width:100%;
}
.text-row-1f,.text-row-2f,.text-row-3f,.text-row-4f{
    text-align:center;
    width:70%;
    margin-left:15%;
}
.text-row-1f{
    margin-top:75px;
    margin-bottom:35px;
}
.text-row-4f{
    margin-top:0;
    margin-bottom:0;
}
.text-row-2f,.text-row-3f{
    margin-bottom:35px;
    margin-top:0;
}
#tip_newsletter_input{
    position:relative;
    left:50%;
    margin-left:-112.5px;
    margin-bottom:75px;
}
}

/* Smaller viewports — more tablets, old monitors */
 
@media only screen and (max-width: 860px) {
#main-header,.navbar,.container,.container-footer,.thank,.oldnew,.copyright {
    width:715px;
    margin-left:-357.5px;
}
#main-container-menu {
    display:none;
}
}

/* Even smaller viewports — more tablets, etc. */
 
@media only screen and (max-width: 740px) {
#main-header,.navbar,.container,.container-footer,.thank,.oldnew,.copyright {
    width:585px;
    margin-left:-292.5px;
}   
#wrapper-bouton-icon,#main_tip_search{
    display:none;
}
#stripes {
    display:block;
}
#main-container-menu {
    display:block;
}
.work div {
    width:calc(100% / 2 - 30px);
}
}

/* Mobile phones (Landscape) and Tablets (Portrait) */
 
@media only screen and (max-width: 610px) {
#main-header,.navbar,.container,.container-footer,.thank,.oldnew,.copyright {
    width:455px;
    margin-left:-227.5px;
} 
#wrapper-sorting{
    position:relative;
    width:300px;
    left:50%;
    margin-left:-165px;
}
.top-rated,.recent,.oldies{
    text-align:center;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    height:40px;
    line-height:40px;
    margin-left:25px;
}
}

/* Mobile phones (Landscape) and Tablets (Portrait) */
 
@media only screen and (max-width: 480px) {
#main-header,.navbar,.container,.container-footer,.thank,.oldnew,.copyright {
    width:295px;
    margin-left:-147.5px;
}
.work div {
    width:calc(100% - 30px);
}
.wrapper-navbouton{
    display:none;
}
.copy-text{
    text-align:center;
    width:100%;
}
.thank-text{
    font-size: 50px;
}
}
/* Mobile phones (iphone4/5)*/
 
@media only screen and (max-width: 320px) {

}